# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
build/

# Environment files
.env
.env.local
.env.*.local

# PostgreSQL
*.pgsql
*.psql
*.db
*.dump

# Prisma
prisma/migrations/
prisma/dev.db
prisma/*.sqlite

# Node.js
node_modules/
